#content {
    margin: auto;
    width: 70%;
}
#overview-graph {
    width: 50%;
    float: left;
}
#line-graph {
    width: 50%;
    float: left;
}
#map-graph {
    margin: auto;
    margin-top: 20px;
    height: 300px; 
}